/***********************************************************

Body

************************************************************/

body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100vh;
    background-color: #ececec;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 11pt;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    background-color: #ececec;
    color: #444;
}

/***********************************************************

Header

************************************************************/

header {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 2px 9px 1px rgba(0, 0, 0, 0.12), 0 4px 2px -2px rgba(0, 0, 0, 0.2);
    background-color: rgb(78, 78, 78);
    color: white;
}

h1 {
    display: inline-block;
    font-size: 18pt;
    font-weight: lighter;
    margin: 0;
    padding: 14px 0px 14px 0px;
    cursor: pointer;
}

h1:hover {
    background-color: #676767;
}

.account-btn {
    float: right;
}

.menu-btn {
    display: inline-block;
    vertical-align: top;
    width: 60px;
    height: 60px;
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #676767;
}

.svg-hamburger-menu {
    vertical-align: top;
    margin: 18px;
    color: inherit;
}

.svg-account {
    vertical-align: top;
    color: inherit;
    margin: 16px;
    width: 28px;
    height: 28px;
}

/***********************************************************

Backdrop for popups, dropdown, etc...

************************************************************/

.backdrop {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/***********************************************************

General anchors and anchors as buttons

************************************************************/

.anchor-plain {
    display: inline-block;
    padding: 15px;
    text-decoration: none;
    color: inherit;
}

.anchor-plain:hover {
    color: green;
}

.anchor-btn {
    background-color: green;
    color: white;
    padding: 10px 15px;
    border-radius: 2px;
    text-decoration: none;
    font: 400 13.3333px Arial;
}

.anchor-btn:hover {
    background-color: #009b00;
}

/***********************************************************

General buttons and inputs

************************************************************/

button {
    border-style: none;
    background-color: green;
    color: white;
    padding: 10px 15px 12px 15px;
    cursor: pointer;
    border-radius: 2px;
    font: inherit;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

button:hover {
    background-color: #009b00;
}

input {
    border: 1px solid gray;
    padding: 5px;
}

input:focus {
    outline: none !important;
    border: 1px solid green;
    box-shadow: 0px 0px 3px 1px green;
}

select:focus {
    outline: none !important;
    border: 1px solid green;
    box-shadow: 0px 0px 3px 1px green;
}

input[type=button] {
    border-style: none;
    background-color: green;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 2px;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, .12);
}

input[type=button]:hover {
    background-color: #009b00;
}

/***********************************************************

Dropdown for previous vehicle selection

************************************************************/

.card {
    background: white;
    border-radius: 2px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.dropdown-item {
    padding: 16px 46px 16px 16px;
    min-height: 22px;
}

.dropdown-root-container {
    text-align: center;
    min-height: 87px;
}

.dropdown {
    text-align: initial;
    cursor: pointer;
    position: relative;
    display: inline-block;
    margin: 16px;
    min-width: 288px;
}

.items-panel {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 288px;
    min-height: 108px;
}

.vin {
    font-family: Consolas, monospace;
    font-size: 14pt;
    color: #00b900;
    font-weight: bold;
    margin-right: 5px;
    pointer-events: none;
}

.vehicle {
    vertical-align: top;
    line-height: 19px;
    pointer-events: none;
}

@media only screen and (max-width: 400px) {
    .vin {
        display: block;
    }

    .new-vehicle-btn {
        display: none;
    }
}

.dropdown-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    margin: 0px 15px 0px 15px;
    width: 16px;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    pointer-events: none;
}

/***********************************************************

New vehicle selection

************************************************************/

.new-vehicle-btn {
    margin: 22px 0px 22px 0px;
}

.new-vehicle-panel {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 278px;
    height: 393px;
    transform: translate(-50%, -50%);
    /* margin: -215px 0 0 -139px; */
    background-color: #ffffff;
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, .12);
    padding-bottom: 10px;
    display: none;
    border-radius: 4px;
}

.new-vehicle-subpanel {
    font-size: 12pt;
    text-align: center;
}

.new-vehicle-header {
    background-color: #353535;
    margin: 0;
    padding: 5px 15px 7px 10px;
    font-weight: lighter;
    color: white;
    border-radius: 4px 4px 0px 0px;
}

.veh-selector {
    font-size: 12pt;
    margin: 6px 48px;
    width: 177px;
    height: 29px;
    border: solid 1px rgb(169, 169, 169);
    box-sizing: border-box;
    padding: 0.2rem;
}

.or-text {
    display: inline-block;
    margin: 0.4rem 0rem;
}

.engine-select {
    margin-bottom: 2rem;
}

.vin-input {
    margin-top: 30px;
}

.veh-input {
    text-indent: 4px;
}

/***********************************************************

Alert pop-up

************************************************************/

.alert-box {
    display: none;
}

.alert-ok-btn {
    margin-top: 20px;
    float: right;
}

/***********************************************************

Modal pop-up

************************************************************/

.modal-backdrop {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #19191978;
}

.modal-window {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    min-width: 250px;
    background-color: #ffffff;
    box-shadow: 0 0 20px 0 #585858;
    border-radius: 4px;
    padding: 20px;
}

.modal-close-btn {
    color: #636363;
    font-size: 22px;
    white-space: pre;
    line-height: 38px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.modal-close-btn:hover {
    color: rgb(255, 65, 65);
}

/***********************************************************

Toast notification

************************************************************/

.toast {
    visibility: hidden;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -100%);
    min-width: 250px;
    background-color: #333;
    color: #fff;
    box-shadow: 0 0 20px 0 #585858;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    opacity: 0;
}

.toast.show {
    visibility: visible;
    animation: toastInOut 2.0s ease;
    /* If you change time duration here, you have to change it in the javascript function as well */
}

@keyframes toastInOut {
    0% {
        transform: translate(-50%, 0%);
        opacity: 0;
    }

    10% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, -50%);
        opacity: 1;
    }

    100% {
        transform: translate(-50%, -100%);
        opacity: 0;
    }
}

/***********************************************************

Loading indicator

************************************************************/

.loading-text {
    display: none;
    text-align: center;
}

.fade-in-with-delay {
    animation: delayedFadeIn 0.5s 1.0s forwards;
}

@keyframes delayedFadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}