.stgWarning {
    color: #ff4141;
}

.stg-hr {
    border-style: solid;
    border-width: 0.5px;
    border-color: #989898;
    margin: 20px 0px;
}

#stgAlreadyHaveLink {
    display: block;
    color: #009e00;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#stgVerifyForm {
    display: none;
}

/***********************************************************

Tabs

************************************************************/

#stgTabBtnsContainer {
    overflow: hidden;
}

#stgTabBtnsContainer a {
    border-width: 0px 0px 4px 0px;
    border-color: transparent;
    border-style: solid;
    float: left;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

#stgTabBtnsContainer a:hover {
    border-bottom-color: lightgray;
}

#stgTabBtnsContainer a.active {
    border-bottom-color: green;
    color: green;
}

.stgTabContentDivs {
    display: none;
    margin: 20px;
    animation: fadeEffect 750ms;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

/***********************************************************

Toggle switch

************************************************************/

.stgToggleSwitch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.stgInput {
    opacity: 0;
    width: 0;
    height: 0;
    margin-top: 5px;
    margin-left: 15px;
}

.stgSlider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.stgSlider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.stgInput:checked+.stgSlider {
    background-color: green;
}

.stgInput:checked+.stgSlider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.stgSlider.stgRound {
    border-radius: 34px;
}

.stgSlider.stgRound:before {
    border-radius: 50%;
}

/***********************************************************

Delete Account elements

************************************************************/

.stg-delete-btns {
    background-color: rgb(185, 0, 0);
    width: 125px;
}

.stg-delete-btns:hover {
    background-color: rgb(255, 0, 0);
}

#stgDeletePopup {
    display: none;
}