.supWarning {
    color: #ff4141;
}

#supAlreadyHaveLink {
    display: inline-block;
    color: #009e00;
    margin-top: 20px;
    text-decoration: underline;
    cursor: pointer;
}

#supVerifyForm {
    display: none;
}